# This workflow runs tests on push or pull requests
name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
      branches: [ master ]
  pull_request:
      branches: [ master ]


  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Workspace
        uses: actions/checkout@v6

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install pip and pip-tools
        run: python -m pip install --upgrade pip pip-tools

      - name: Generate requirements.txt file
        run: pip-compile requirements.in

      - name: Install dependencies
        run: pip-sync

      - name: Linting
        run: pylint advent

      - name: Check formatting
        run: autopep8 --exit-code advent

      - name: Execute tests
        run: pytest -n auto
